body {
    margin-top: 9px;
}

.horizontal_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    font-family: arial,sans-serif;
    font-size: 13px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-top: 11px;
    margin-left: 17px;
    float: left;
    opacity: 0.85;
}

.clear {
    clear: both;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}

#signin {
    padding: 7px 12px 6px 12px;
    color: #ffffff;
    background-color: #4583ee;
    border: 1px solid #4583ee;
    font-weight: bold;
    border-radius: 2px;
    margin-left: 1px;
}

#button-grid {
    position: relative;
    top: 2px;
    margin-left: 3px;
    margin-right: 4px;
    opacity: 0.6;
}

.navbar-left li{
    margin-right: 1px;
}

.navbar-right {
    position: relative;
    top: 1px;
    margin-right: 22px;
}

.navbar-right li {
    margin-left: 17px;
}