body {
    margin-top: 9px;
}

.horizontal_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    font-family: arial,sans-serif;
    font-size: 13px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-top: 11px;
    margin-left: 17px;
    float: left;
    opacity: 0.85;
}

.clear {
    clear: both;
}

.float_left {
    float: left;
}

footer .float_left {
}

.float_right {
    float: right;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #f2f2f2;
    border-top: solid 1px #e4e4e4;
    height: 40px;
}

footer a {
    font-size: 14px;
    color: hsl(213.3, 4.5%, 30%);
    padding-left: 10px;
    font-weight: 500;
}

footer li {
    margin-top: 10px;
}

footer .float_left {
    margin-left: 3px;
}


footer .float_right {
    margin-right: 30px;
}

#signin {
    padding: 7px 12px 6px 12px;
    color: #ffffff;
    background-color: #4583ee;
    border: 1px solid #4583ee;
    font-weight: bold;
    border-radius: 2px;
    margin-left: 1px;
}

#button-grid {
    position: relative;
    top: 2px;
    margin-left: 3px;
    margin-right: 4px;
    opacity: 0.6;
}

#searchbar {
    padding-top: 29px;
}

#search-prompt {
    border-style: none;
    position: relative;
    font: 16px arial,sans-serif;
    left: 30px;
    top: 10px;
}

#searchbar-container {
    border: 1px solid #dfe1e5;
    width: 480px;
    margin: 0 auto;
    border-radius: 24px;
    height: 42px;
}

.navbar-left li{
    margin-right: 1px;
}

.navbar-right {
    position: relative;
    top: 1px;
    margin-right: 22px;
}

.navbar-right li {
    margin-left: 17px;
}

.text-align-left {
    text-align: left;
}

#magnification-lens {
    position: relative;
    left: 17px;
    top: 12px;
    opacity: 0.3;
}

#microphone {
    position: relative;
    top: 8px;
    right: 15px;
    height: 24px;
    width: 24px;
    background-size: 24px;
    float: right;
}

#google-logo {
    padding-top: 158px;
}